<!doctype html>
<html lang="en">
<!-- START HEAD SECTION -->
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<!-- END HEAD SECTION -->
<!-- START BODY SECTION -->
<body>
  <div id="application"></div>
</body>
<!-- END BODY SECTION -->
</html>